@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
body, html {
    @include outer-container;
}
.genesis {
  @include span-columns(8 of 12);
  @include shift(2);
  margin-top: 10em;
  input {
    margin-top: 10px;
    @include span-columns(8 of 8);
  }
  .dropdown{
    @include span-columns(8 of 8);
    min-height: 10px;
    height: auto;
    margin-top: -12px;
    background-color: #ffffff;
    border-color: #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em 0.5em 0.5em 0.5em;
    font-size: 1em;

    a{
      @include span-columns(8 of 8);
    }

    li {
      border-width: 1px;
      float: left;
      @include span-columns(5 of 8);
      padding-left: 0.5em;
      //padding-top: 0.75em;
    }
    p {
      float: right;
      @include span-columns(3 of 8);
      @include omega();
      color: #ddd;
      //padding-top: 0.75em;
    }
  }
}